<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>SignSpeak</title>
        <link rel="stylesheet" href="static\Final_ASL\signspeak1.css">
        
        <link rel="apple-touch-icon" sizes="180x180" href="static/Final_ASL/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/Final_ASL/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/Final_ASL/favicon-16x16.png">
        <link rel="manifest" href="static/Final_ASL/site.webmanifest">
    </head>
    <body>
        
        <p id="p">
            <a href="opening_page.html" id="link1">SignSpeak</a>
            <a href="signspeak.html">        
                <button id="tp">
                    Start
                </button>
            </a>
            
            <a href="opening_page.html" id="link2">
            <button id="tp">
                Home
            </button>
            </a>
        </p>

      
        <br>
        <br>
        
        <!--
        FONT SIZE WILL BE DECREASING WITH EACH LINE.
        Photo
        Naam
        Roll of person in Project
        Button of linkedin with written only "LinkedIn">
        -->

        <main id="boxes" >
        <div id="column1">
            <centre>
            <img src="static\Final_ASL\agrim-photo.jpg" height="200px" width="170px" alt="Agrim Shukla" float="centre">
            <h2 id="centre">Agrim Shukla</h2>
            <h3 id="centre">Team Lead</h3>
            <a href="https://in.linkedin.com/in/agrim-shukla-34380027b" target="_blank" rel="noopener">
                    <button>
                    <h2>LinkedIn</h2>
                    </button>
                </a>
                </centre>
        </div>

        <div id="column2">
            <centre>
                <img src="static\Final_ASL\akarsh-photo.jpg" height="200px" width="170px" alt="Akarsh Katiyar" float="centre">
                <p>

                </p>
                <h2>Akarsh Katiyar</h2>
                <h3>Front-End Developer</h3>
                <a href="https://www.linkedin.com/in/akarsh-katiyar-309142328" target="_blank" rel="noopener">
                        <button>
                        <h2>LinkedIn</h2>
                        </button>
                </a>
                </centre>
            </div>
        </div>     

        <div id="column3">
            <centre>
            <img src="static\Final_ASL\akhand-photo.jpg" height="200px" width="170px" alt="Akhand Pratap Shukla" float="centre">
            <h2>Akhand Pratap Shukla</h2>
            <h3>Back-End Developer</h3>
            <a href="https://in.linkedin.com/in/akhand-pratap-shukla" target="_blank" rel="noopener">
                    <button>
                    <h2>LinkedIn</h2>
                    </button>
            </a>
            </centre>
        </div>
        
        <div id="column4">
            <centre>
                <img src="static\Final_ASL\anshuman-photo.jpg" height="200px" width="170px" alt="Anshuman Maurya" float="centre">
                <h2>Anshuman Maurya</h2>
                <h3>ML Developer</h3>
                <a href="https://www.linkedin.com/in/anshuman-maurya-8659a1308"  target="_blank" rel="noopener">
                    <button>
                    <h2>LinkedIn</h2>
                    </button>
            </a>
            </centre>
        </div>
        
        <div id="column5">
            <centre>
                <img src="static\Final_ASL\aryan-photo.jpg" height="200px" width="170px" alt="Aryan Srivastava" float="centre">
                <h2>Aryan Srivastava</h2>
                <h3>Resource Consultant</h3>
                <a href="https://linkedin.com/in/aryan-srivastava-8768aa32a" target="_blank" rel="noopener">                    
                    <button>
                    <h2>LinkedIn</h2>
                    </button>
            </a>
            </centre>
        </div>

    </body>
</html>