<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>SignSpeak</title>
    <link rel="stylesheet" href="static\Final_ASL\signspeak1.css">

    <link rel="apple-touch-icon" sizes="180x180" href="static/Final_ASL/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/Final_ASL/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/Final_ASL/favicon-16x16.png">
    <link rel="manifest" href="static/Final_ASL/site.webmanifest">
</head>
<body>
    <p id="p">
        <a href="opening_page.html" id="link1">SignSpeak</a>
        <a href="signspeak.html">        
            <button id="tp">
                Start
            </button>
        </a>

        <a href="contact_us.html" id="link3">
        <button id="tp">
            Contact Us
        </button>
    </a>
    </p>

    <div class="opening-page-content">
        <div id="box1">
            <h1 id="h1">About the Project</h1>
            <p style="text-align:justify;">SignSpeak translates sign language to text in real-time, breaking down communication barriers between deaf and hearing communities.  It fosters inclusive conversations in various settings, empowering everyone to engage in discussions and promoting equal opportunities. SignSpeak is an accessible and innovative solution, bridging communication gaps and making dialogue easier for all.</p>
        </div>
        <div id="box2">
            <h1 id="h1">Our Aim</h1>
            <p style="text-align:justify;">Our primary aim is to bridge the communication gap between the deaf and hearing communities. We believe that communication is a fundamental right, and everyone should have access to effortless and natural interactions. By utilizing cutting-edge technology for real-time sign language translation, we strive to promote meaningful conversations and open up new opportunities for understanding and connection.</p>
        </div>
        <div id="box3">
            <h1 id="h1">About Us</h1>
            <p style="text-align:justify;">We are a passionate team of five individuals, each contributing diverse expertise in technology, linguistics, user experience, and community outreach. Our shared vision drives us to revolutionize communication through a comprehensive platform tailored to the needs of both deaf and hearing individuals. We are deeply committed to inclusivity and dedicated to transforming communication for a more accessible future.</p>
        </div>
        
        <div id="box4">
            <h1 id="h1">Our Future Goals</h1>
            <p style="text-align:justify;">We plan to expand SignSpeak's sign language support to enhance global accessibility.  Our ongoing efforts focus on improving the accuracy and speed of real-time translation.  We aim to integrate with commonly used communication tools for broader accessibility and collaborate with educational institutions to make SignSpeak an essential resource for inclusive education.</p>
        </div>
        <div id="box5">
            <h1 id="h1">Ask Us</h1>
            <p style="text-align:justify;">We welcome your questions, feedback, and collaboration ideas. We believe in building an inclusive platform for all, whether you are an accessibility advocate, a tech enthusiast, or someone directly affected by communication barriers. Your voice matters. Join the conversation and help us create a world where everyone is heard and understood.</p>
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdSy8eEv6Tj6O_lqt5ONHMahX2oU8b3uG1Npm_b-1TCF5j9OQ/viewform?embedded=true" width="100%" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <a href="contact_us.html">Contact Us</a>
                <br>
                <a href="https://forms.gle/DArfrthQEfkdsacP9" target="_blank" rel="noopener">Feedback Form</a> 
            </div>
        </div>
    </footer>

</body>
</html>